In [1]:
import pandas as pd

In [3]:
# Load the CSV file
df = pd.read_csv("student-performance-data.csv")

In [4]:
# See how many unique types of schools are there
unique_schools = df['school'].nunique()
print("Number of unique school types:", unique_schools)

Number of unique school types: 2

In [5]:
# If you also want to see the actual school names
school_types = df['school'].unique()
print("Types of schools:", school_types)

Types of schools: ['GP' 'MS']

In [7]:
# If you want counts of each school type
school_counts = df['school'].value_counts()
print("Counts of each school type:\n", school_counts)
# Print the total number of rows (excluding header)
total_rows = len(df)
print("\nTotal number of rows:", total_rows)

# Or, if you want total rows counted from the 'school' column only (ignoring NaN)
total_schools = df['school'].count()
print("Total rows with school values:", total_schools)

Counts of each school type:
 school
GP    423
MS    226
Name: count, dtype: int64

Total number of rows: 649
Total rows with school values: 649

In [9]:
# 1. First 5 rows (quick look)
print("Head of data:\n", df.head(), "\n")

# 2. Shape (rows, columns)
print("Shape of dataset (rows, columns):", df.shape, "\n")

# 3. Column names
print("Column names:", df.columns.tolist(), "\n")

# 4. Data types of each column
print("Data types:\n", df.dtypes, "\n")

# 5. Summary statistics (only numeric columns by default)
print("Summary statistics:\n", df.describe(), "\n")

# 6. Summary statistics including categorical columns
print("Full summary statistics:\n", df.describe(include='all'), "\n")

# 7. Missing values
print("Missing values in each column:\n", df.isnull().sum(), "\n")

# 8. Unique values count for each column
print("Unique values in each column:\n", df.nunique(), "\n")

# 9. Memory usage
print("Memory usage:\n")
df.info()

# 10. Correlation between numeric columns
print("\nCorrelation matrix:\n", df.corr(numeric_only=True), "\n")

Head of data:
   school sex  age address famsize Pstatus                           Medu  \
0     GP   F   18       U     GT3       A               higher education
1     GP   F   17       U     GT3       T  primary education (4th grade)
2     GP   F   15       U     LE3       T  primary education (4th grade)
3     GP   F   15       U     GT3       T               higher education
4     GP   F   16       U     GT3       T            secondary education

                            Fedu     Mjob      Fjob  ... famrel freetime  \
0               higher education  at_home   teacher  ...      4        3
1  primary education (4th grade)  at_home     other  ...      5        3
2  primary education (4th grade)  at_home     other  ...      4        3
3               5th to 9th grade   health  services  ...      3        2
4            secondary education    other     other  ...      4        3

   goout  Dalc  Walc health absences  G1  G2  G3
0      4     1     1      3        4   0  11  11
1      3     1     1      3        2   9  11  11
2      2     2     3      3        6  12  13  12
3      2     1     1      5        0  14  14  14
4      2     1     2      5        0  11  13  13

[5 rows x 33 columns]

Shape of dataset (rows, columns): (649, 33)

Column names: ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

Data types:
 school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu          object
Fedu          object
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

Summary statistics:
               age  traveltime   studytime    failures      famrel    freetime  \
count  649.000000  649.000000  649.000000  649.000000  649.000000  649.000000
mean    16.744222    1.568567    1.930663    0.221880    3.930663    3.180277
std      1.218138    0.748660    0.829510    0.593235    0.955717    1.051093
min     15.000000    1.000000    1.000000    0.000000    1.000000    1.000000
25%     16.000000    1.000000    1.000000    0.000000    4.000000    3.000000
50%     17.000000    1.000000    2.000000    0.000000    4.000000    3.000000
75%     18.000000    2.000000    2.000000    0.000000    5.000000    4.000000
max     22.000000    4.000000    4.000000    3.000000    5.000000    5.000000

            goout        Dalc        Walc      health    absences          G1  \
count  649.000000  649.000000  649.000000  649.000000  649.000000  649.000000
mean     3.184900    1.502311    2.280431    3.536210    3.659476   11.399076
std      1.175766    0.924834    1.284380    1.446259    4.640759    2.745265
min      1.000000    1.000000    1.000000    1.000000    0.000000    0.000000
25%      2.000000    1.000000    1.000000    2.000000    0.000000   10.000000
50%      3.000000    1.000000    2.000000    4.000000    2.000000   11.000000
75%      4.000000    2.000000    3.000000    5.000000    6.000000   13.000000
max      5.000000    5.000000    5.000000    5.000000   32.000000   19.000000

               G2          G3
count  649.000000  649.000000
mean    11.570108   11.906009
std      2.913639    3.230656
min      0.000000    0.000000
25%     10.000000   10.000000
50%     11.000000   12.000000
75%     13.000000   14.000000
max     19.000000   19.000000

Full summary statistics:
        school  sex         age address famsize Pstatus              Medu  \
count     649  649  649.000000     649     649     649               649
unique      2    2         NaN       2       2       2                 5
top        GP    F         NaN       U     GT3       T  5th to 9th grade
freq      423  383         NaN     452     457     569               186
mean      NaN  NaN   16.744222     NaN     NaN     NaN               NaN
std       NaN  NaN    1.218138     NaN     NaN     NaN               NaN
min       NaN  NaN   15.000000     NaN     NaN     NaN               NaN
25%       NaN  NaN   16.000000     NaN     NaN     NaN               NaN
50%       NaN  NaN   17.000000     NaN     NaN     NaN               NaN
75%       NaN  NaN   18.000000     NaN     NaN     NaN               NaN
max       NaN  NaN   22.000000     NaN     NaN     NaN               NaN

                    Fedu   Mjob   Fjob  ...      famrel    freetime  \
count                649    649    649  ...  649.000000  649.000000
unique                 5      5      5  ...         NaN         NaN
top     5th to 9th grade  other  other  ...         NaN         NaN
freq                 209    258    367  ...         NaN         NaN
mean                 NaN    NaN    NaN  ...    3.930663    3.180277
std                  NaN    NaN    NaN  ...    0.955717    1.051093
min                  NaN    NaN    NaN  ...    1.000000    1.000000
25%                  NaN    NaN    NaN  ...    4.000000    3.000000
50%                  NaN    NaN    NaN  ...    4.000000    3.000000
75%                  NaN    NaN    NaN  ...    5.000000    4.000000
max                  NaN    NaN    NaN  ...    5.000000    5.000000

             goout        Dalc        Walc      health    absences  \
count   649.000000  649.000000  649.000000  649.000000  649.000000
unique         NaN         NaN         NaN         NaN         NaN
top            NaN         NaN         NaN         NaN         NaN
freq           NaN         NaN         NaN         NaN         NaN
mean      3.184900    1.502311    2.280431    3.536210    3.659476
std       1.175766    0.924834    1.284380    1.446259    4.640759
min       1.000000    1.000000    1.000000    1.000000    0.000000
25%       2.000000    1.000000    1.000000    2.000000    0.000000
50%       3.000000    1.000000    2.000000    4.000000    2.000000
75%       4.000000    2.000000    3.000000    5.000000    6.000000
max       5.000000    5.000000    5.000000    5.000000   32.000000

                G1          G2          G3
count   649.000000  649.000000  649.000000
unique         NaN         NaN         NaN
top            NaN         NaN         NaN
freq           NaN         NaN         NaN
mean     11.399076   11.570108   11.906009
std       2.745265    2.913639    3.230656
min       0.000000    0.000000    0.000000
25%      10.000000   10.000000   10.000000
50%      11.000000   11.000000   12.000000
75%      13.000000   13.000000   14.000000
max      19.000000   19.000000   19.000000

[11 rows x 33 columns]

Missing values in each column:
 school         0
sex            0
age            0
address        0
famsize        0
Pstatus        0
Medu           0
Fedu           0
Mjob           0
Fjob           0
reason        72
guardian       0
traveltime     0
studytime      0
failures       0
schoolsup      0
famsup         0
paid           0
activities     0
nursery        0
higher         0
internet       0
romantic       0
famrel         0
freetime       0
goout          0
Dalc           0
Walc           0
health         0
absences       0
G1             0
G2             0
G3             0
dtype: int64

Unique values in each column:
 school         2
sex            2
age            8
address        2
famsize        2
Pstatus        2
Medu           5
Fedu           5
Mjob           5
Fjob           5
reason         3
guardian       3
traveltime     4
studytime      4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
nursery        2
higher         2
internet       2
romantic       2
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      24
G1            17
G2            16
G3            17
dtype: int64

Memory usage:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    object
 7   Fedu        649 non-null    object
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      577 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(14), object(19)
memory usage: 167.4+ KB

Correlation matrix:
                  age  traveltime  studytime  failures    famrel  freetime  \
age         1.000000    0.034490  -0.008415  0.319968 -0.020559 -0.004910
traveltime  0.034490    1.000000  -0.063154  0.097730 -0.009521  0.000937
studytime  -0.008415   -0.063154   1.000000 -0.147441 -0.004127 -0.068829
failures    0.319968    0.097730  -0.147441  1.000000 -0.062645  0.108995
famrel     -0.020559   -0.009521  -0.004127 -0.062645  1.000000  0.129216
freetime   -0.004910    0.000937  -0.068829  0.108995  0.129216  1.000000
goout       0.112805    0.057454  -0.075442  0.045078  0.089707  0.346352
Dalc        0.134768    0.092824  -0.137585  0.105949 -0.075767  0.109904
Walc        0.086357    0.057007  -0.214925  0.082266 -0.093511  0.120244
health     -0.008750   -0.048261  -0.056433  0.035588  0.109559  0.084526
absences    0.149998   -0.008149  -0.118389  0.122779 -0.089534 -0.018716
G1         -0.174322   -0.154120   0.260875 -0.384210  0.048795 -0.094497
G2         -0.107119   -0.154489   0.240498 -0.385782  0.089588 -0.106678
G3         -0.106505   -0.127173   0.249789 -0.393316  0.063361 -0.122705

               goout      Dalc      Walc    health  absences        G1  \
age         0.112805  0.134768  0.086357 -0.008750  0.149998 -0.174322
traveltime  0.057454  0.092824  0.057007 -0.048261 -0.008149 -0.154120
studytime  -0.075442 -0.137585 -0.214925 -0.056433 -0.118389  0.260875
failures    0.045078  0.105949  0.082266  0.035588  0.122779 -0.384210
famrel      0.089707 -0.075767 -0.093511  0.109559 -0.089534  0.048795
freetime    0.346352  0.109904  0.120244  0.084526 -0.018716 -0.094497
goout       1.000000  0.245126  0.388680 -0.015741  0.085374 -0.074053
Dalc        0.245126  1.000000  0.616561  0.059067  0.172952 -0.195171
Walc        0.388680  0.616561  1.000000  0.114988  0.156373 -0.155649
health     -0.015741  0.059067  0.114988  1.000000 -0.030235 -0.051647
absences    0.085374  0.172952  0.156373 -0.030235  1.000000 -0.147149
G1         -0.074053 -0.195171 -0.155649 -0.051647 -0.147149  1.000000
G2         -0.079469 -0.189480 -0.164852 -0.082179 -0.124745  0.864982
G3         -0.087641 -0.204719 -0.176619 -0.098851 -0.091379  0.826387

                  G2        G3
age        -0.107119 -0.106505
traveltime -0.154489 -0.127173
studytime   0.240498  0.249789
failures   -0.385782 -0.393316
famrel      0.089588  0.063361
freetime   -0.106678 -0.122705
goout      -0.079469 -0.087641
Dalc       -0.189480 -0.204719
Walc       -0.164852 -0.176619
health     -0.082179 -0.098851
absences   -0.124745 -0.091379
G1          0.864982  0.826387
G2          1.000000  0.918548
G3          0.918548  1.000000